$col-limit: 12;

.grid {
  display: grid;
  grid-template-columns: repeat($col-limit, 1fr);
}

.justify-center {
  justify-content: center;
}
.justify-end {
  justify-content: flex-end;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.justify-evenly {
  justify-content: space-evenly;
}

@for $i from 1 through $col-limit {
  .col-#{$i} {
    grid-column: span #{$i};
  }
  .row-#{$i} {
    grid-row: span #{$i};
  }
  .grid-#{$i} {
    display: grid;
    grid-template-columns: repeat(#{$i}, 1fr);
  }
}
@each $space, $value in $breaking-points {
  @include media-breakpoint-up($value) {
    @for $i from 1 through $col-limit {
      .col-#{$space}-#{$i} {
        grid-column: span #{$i};
      }
      .row-#{$space}-#{$i} {
        grid-row: span #{$i};
      }
      .grid-#{$space}-#{$i} {
        display: grid;
        grid-template-columns: repeat(#{$i}, 1fr);
      }
    }
  }
}
